<header>
 <div class="logo">
  afaeid
 </div>
 <!-- <nav>
  <ul>
   <li><a href="">Home</a></li>
   <li><a href="">About</a></li>
   <li><a href="">Contact</a></li>
  </ul>
 </nav>-->
 <i class="fa-solid fa-bars"></i>
</header>