<!DOCTYPE html>
<html>

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Todo App</title>
 <link rel="stylesheet" href="/css/style.css">
</head>

<body>

 <main>
  <div class="todo-cover">
   <div class="todo-header">
    <form action="/" method="post">
     <input type="text" class="todoName">
     <button type="submit">Add</button>
    </form>
   </div>
   <div class="todo-body">
    <ul>
     <li></li>
    </ul>
   </div>
  </div>
 </main>


 <div class="todo-updateing-component">
  <div class="component-header">

  </div>
  <div class="component-body">
   <input type="text" placeholder="Add todo" value="">
  </div>
  <div class="component-footer">
   <button class="cnacle-btn">Cancle</button>
   <button class="update-btn">Update</button>
  </div>
 </div>


 <li onclick="openUpdatingTodoComponent('${todoId}','${todoValue}')" data-todoId="${todoId}">
  <i class="fa-regular fa-pen-to-square"></i>
  <span>Edit</span>
 </li>

</body>

</html>